# Ignore node_modules
node_modules/

# Ignore Next.js build output
.next/cache/
.next/static/

# Não ignore outros arquivos importantes na pasta .next
!.next/server/
!.next/types/
!.next/server/app/adm/
!.next/server/app/notificacoes/
!.next/server/app/adm/page.js
!.next/server/app/adm/page_client-reference-manifest.js
!.next/server/app/notificacoes/
!.next/static/media/
!.next/static/webpack/app/
!.next/static/webpack/app/eosolar/
